* {
  box-sizing: border-box;
}

html,
body,
.App,
#root,
#drum-machine {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

#drumpads-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  text-align: center;
}

#drum-machine {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
